<hr style="margin-top:0px;" />
           <h3 style="margin:20px 0px; color:#818da1; font-weight:200;">
           	<i class="entypo-right-circled"></i> 
				 Class Routine           </h3>
    <div class="row">
	<div class="col-md-12">

        <ul class="nav nav-tabs bordered">
			<li class="active">
            	<a  data-toggle="tab"><i class="entypo-menu"></i> 
					class routine list                    	</a></li>
		</ul>
        <div class="tab-content">
            <div class="panel-body">
                 <table  border="0"  class="table table-bordered">
                                            <tbody>
                                            <tr class="gradeA">
                                                    <td width="100">SUNDAY</td>
                                                    <td>
                                                    Holiday
                                                    </td>
                                                
                                                </tr>
                                                <tr class="gradeA">
                                                    <td width="100">Monday</td>
                                                    <td>
                                                    Class At 10:30
                                                    </td>
                                                    <td>
                                                    Class At 1:30
                                                    </td>
                                                
                                                </tr>
                                                </tbody>
                                               </table>
                                        </div>

            
    @*<table border="1">
    <tr>
        <td>Clas</td>
        <td>Day</td>
        <td>TimeDay</td>
       
    </tr>

     <tr>   
            <td>Bcs-Aft B</td>
            <td>Tuesday</td>
            <td>2:30</td>
            
       </tr>
    

</table>*@
</div>
       
        </div>
      </div>