@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/Content/jquery-ui-1.10.3.custom.min.css"/>
	<link rel="stylesheet" href="~/Content/entypo.css"/>
    <link rel="stylesheet" href="~/Content/entypo8421.eot"/>
     <link rel="stylesheet" href="~/Content/entypo8421.svg"/>
     <link rel="stylesheet" href="~/Content/entypo8421.ttf"/>
     <link rel="stylesheet" href="~/Content/entypo8421.woff"/>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"/>
	<link rel="stylesheet" href="~/Content/bootstrap.css"/>
	<link rel="stylesheet" href="~/Content/neon-core.css"/>
	<link rel="stylesheet" href="~/Content/neon-theme.css"/>
	<link rel="stylesheet" href="~/Content/neon-forms.css"/>
    
	<link rel="stylesheet" href="~/Content/custom.css"/>
		<script src="~/scripts/jquery-1.11.0.min.js"></script>
    <link rel="shortcut icon" href="~/images/favicon.png"/>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css"/>
	
	
   
	<link rel="stylesheet" href="~/Content/component.css"/>
    <link rel="stylesheet" href="~/Content/datatables.responsive.css"/>
</head>
<body class="page-body" >
	<div class="page-container " >
		<div class="sidebar-menu">
		<header class="logo-env" >
			
            <!-- logo -->
			<div class="logo" style="">
				<a href="abcd">
					<img src="~/images/logo.png"  style="max-height:60px;"/>
				</a>
			</div>
            
			<!-- logo collapse icon -->
			<div class="sidebar-collapse" style="">
				<a href="#" class="sidebar-collapse-icon with-animation">
                
					<i class="entypo-menu"></i>
				</a>
			</div>
			
			<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
			<div class="sidebar-mobile-menu visible-xs">
				<a href="#" class="with-animation">
					<i class="entypo-menu"></i>
				</a>
			</div>
		</header>
		
		<div style="border-top:1px solid rgba(69, 74, 84, 0.7);"></div>	
		<ul id="main-menu" class="">
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            
           
           <!-- DASHBOARD -->
           <li class="active ">
				<a href="edede">
					<i class="entypo-gauge"></i>
					<span>dashboard</span>
				</a>
           </li>
            
           <!-- CLASS ROUTINE -->
           <li class=" ">
				<a href="http://creativeitem.com/demo/ekattor/index.php?admin/class_routine">
					<i class="entypo-target"></i>
					<span>class routine</span>
				</a>
           </li>
            
           <!-- DAILY ATTENDANCE -->
           <li class=" ">
				<a href="http://creativeitem.com/demo/ekattor/index.php?admin/manage_attendance/17/01/2015">
					<i class="entypo-chart-area"></i>
					<span>Daily Attendance</span>
				</a>
             
                
           </li>
            
           <!-- EXAMS -->
           <li class=" ">
				<a href="#">
					<i class="entypo-graduation-cap"></i>
					<span>Exam Marks</span>
				</a>
                <ul class=" " >
					<li class=" ">
						<a href="http://creativeitem.com/demo/ekattor/index.php?admin/exam">
							<span><i class="entypo-dot"></i> Mid Term</span>
						</a>
					</li>
					<li class=" ">
						<a href="http://creativeitem.com/demo/ekattor/index.php?admin/grade">
							<span><i class="entypo-dot"></i> Final Term</span>
						</a>
					</li>
					
                </ul>
           </li>
            
           
            
           <!-- Sessionals -->
           <li class=" ">
				<a href="#">
					<i class="entypo-lifebuoy"></i>
					<span>Sessional Marks</span>
				</a>
                <ul>
					<li class=" ">
						<a href="http://creativeitem.com/demo/ekattor/index.php?admin/system_settings">
							<span><i class="entypo-dot"></i>Quiz Marks</span>
						</a>
					</li>
					<li class=" ">
						<a href="http://creativeitem.com/demo/ekattor/index.php?admin/manage_language">
							<span><i class="entypo-dot"></i>Assignment Marks</span>
						</a>
					</li>
                    <li class=" ">
						<a href="http://creativeitem.com/demo/ekattor/index.php?admin/manage_language">
							<span><i class="entypo-dot"></i>Presentation Marks</span>
						</a>
					</li>
                </ul>
           </li>
            
           
		</ul>
        		
</div>	
		<div class="main-content">
		
			<div class="row">
	<div class="col-md-12 col-sm-12 clearfix" style="text-align:center;">
		<h2 style="font-weight:200; margin:0px;">Cloud Campus</h2>
    </div>
	<!-- Raw Links -->
	<div class="col-md-12 col-sm-12 clearfix ">
		
        <ul class="list-inline links-list pull-left">
        <!-- Language Selector -->			
           <li class="dropdown language-selector">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                        	<i class="entypo-user"></i> Teacher                   </a>
				
				<ul class="dropdown-menu pull-left">
					<li>
						<a href="aaa">
                        	<i class="entypo-info"></i>
							<span>Edit Profile</span>
						</a>
					</li>
					<li>
						<a href="aa">
                        	<i class="entypo-key"></i>
							<span>change password</span>
						</a>
					</li>
				</ul>
				
			</li>
        </ul>
        
			<ul class="list-inline links-list pull-right">
			<li>
				<a href="aa">
					Log Out <i class="entypo-logout right"></i>
				</a>
			</li>	
               </ul>
	</div>
	
</div>

<hr style="margin-top:0px;" />
           <h3 style="margin:20px 0px; color:#818da1; font-weight:200;">
           	<i class="entypo-right-circled"></i> 
				Teacher dashboard           </h3>

			<div class="row">
	<div class="col-md-8">
    	<div class="row">
            <!-- CALENDAR-->
            <div class="col-md-12 col-xs-12">    
                <div class="panel panel-primary " data-collapsed="0">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="fa fa-calendar"></i>
                            Event Schedule                        </div>
                    </div>
                    <div class="panel-body" style="padding:0px;">
                        <div class="calendar-env">
                            <div class="calendar-body">
                                <div id="notice_calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<div class="col-md-4">
		
           
            
    	</div>
    </div>
	
</div>



    <script>
        $(document).ready(function () {

            var calendar = $('#notice_calendar');

            $('#notice_calendar').fullCalendar({
                header: {
                    left: 'title',
                   // right: 'today prev,next'
                },

                //defaultView: 'basicWeek',

                editable: false,
                firstDay: 1,
                height: 530,
                droppable: false,


            });
        });
  </script>

  



		</div>
		        	
       

   	<!-- Bottom Scripts -->
	<script src="~/scripts/main-gsap.js"></script>
	<script src="~/scripts/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="~/scripts/bootstrap.js"></script>
	<script src="~/scripts/joinable.js"></script>
	<script src="~/scripts/resizeable.js"></script>
	<script src="~/scripts/neon-api.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
	<script src="~/scripts/fullcalendar.min.js"></script>
    <script src="~/scripts/bootstrap-datepicker.js"></script>
    <script src="~/scripts/fileinput.js"></script>
    
    <script src="~/scripts/jquery.dataTables.min.js"></script>
	<script src="~/scripts/datatables/TableTools.min.js"></script>
	<script src="~/scripts/dataTables.bootstrap.js"></script>
	<script src="~/scripts/datatables/jquery.dataTables.columnFilter.js"></script>
	<script src="~/scripts/datatables/lodash.min.js"></script>
	<script src="~/scripts/datatables/responsive/js/datatables.responsive.js"></script>
    <script src="~/scripts/select2/select2.min.js"></script>
    
	<script src="~/scripts/neon-calendar.js"></script>
	<script src="~/scripts/neon-chat.js"></script>
	<script src="~/scripts/neon-custom.js"></script>
	<script src="~/scripts/neon-demo.js"></script>
                      
</body>
</html>
