@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- CALENDAR-->
<hr style="margin-top:0px;" />
           <h3 style="margin:20px 0px; color:#818da1; font-weight:200;">
           	<i class="rightarrow icon"></i> 
				Teacher dashboard           </h3>
             
			<div class="row">
	<div class="col-md-8">
    	<div class="row">
            <div class="col-md-12 col-xs-12">    
                <div class="panel panel-primary " data-collapsed="0">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i class="calender icon"></i>
                            Event schedule
                          
                        </div>
                    </div>
                    <div class="panel-body" style="padding:0px;">
                        <div class="calendar-env">
                            <div class="calendar-body">
                                <div id="notice_calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
		
           </div>
          </div>   
    	</div>
    </div>
