<hr style="margin-top:0px;" />
           <h3 style="margin:20px 0px; color:#818da1; font-weight:200;">
           	<i class="entypo-right-circled"></i> 
				Manage Assignment Marks           </h3>

			<div class="row">
	<div class="col-md-12">
    
    	<!------CONTROL TABS START------->
		<ul class="nav nav-tabs bordered">
			<li class="active">
            	<a href="#list" data-toggle="tab"><i class="entypo-menu"></i> 
					Manage Marks                    	</a></li>
		</ul>
    	
            <div class="tab-pane  active" id="list">
				<center>
                <form action="/Assignments/updateAssignmentmarks" method="post" accept-charset="utf-8">                <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                	<tr>
                        <td>Assignment Id</td>
                        <td>Total marks</td>
                      <td>Set Wietage</td>
                        
                	</tr>
                	<tr>
                        <td>
                        	
                             <input type="text" class="form-control" name="assg" id="aid" placeholder="Assignment Id" autocomplete="off"  value=""  required /> 
                        </td>
                        <td>
                        	<input type="number" class="form-control" name="Assignment marks" id="amk" placeholder="Total Assignment marks" autocomplete="off"  value=""   />
                        </td>
                        <td>
                              <input type="number" class="form-control" name="Set Weitage" id="q" placeholder="Set Weitage" autocomplete="off"  value=""  />
                            </td>
                     </tr>
                     <td align="center"><input type="submit" value="Manage Marks" class="btn btn-info"/></td>
                    </form>
                    </center>
                </div>